$main_text_color: #fff;
$text_color: #eaeaea;
$black_05: rgba(0, 0, 0, 0.5);
$black_35: rgba(0, 0, 0, 0.35);
$white_05: rgba(255, 255, 255, 0.5);
$white_35: rgba(255, 255, 255, 0.35);
$anim_delay: .3s;
$keyframe_duration: 2s;
$img: '../../assets/test';